@CHARSET "UTF-8";

h1{
	width:100%;
	font-size:30px;
	padding : 5vh 0;
}

h2{
	width:100%;
	margin:20px;
	font-size:20px;
}

.main-content {
    width: 100%;
    min-width:1000px;
    height: 200px;
    margin-top: 80px;
    margin-bottom: 60px;
    border-top: solid 40px #4b6cb7;
}

.pro-image{
    width: 25%;
    height: 200px;
    text-align: center;
	margin: 20px 20px 10px 15px;
    float: left;
}

.item-image-box {
	height:210px;
}

.pro-text{
    width: 60%;
    height: 200px;
    margin: 30px 20px 10px 200px;
}

.pro-name{
	line-height: 1.5;
}
.pro-kana{
	padding-left: 55px;
    font-size: 14px;
}

.pro-price{
	line-height: 1.5;
	margin: 20px auto 20px auto;
}
.price{
	color: #E91E63;
	font-size: 1.4rem;
}

.comp-info{
	line-height: 1.5;
}

.submit-btn{
	float:right;
	height:40px;
	cursor:pointer;
	box-sizing:border-box;
	border:none;
    color: #fff;
    font-size: 16px;
    background-color: #4b6cb7;
	width: 150px;
    margin:0px 30px 20px 20px;
}

.submit-btn:hover{
	background: #191970;
}