@CHARSET "UTF-8";


.title>h1{
	font-size: 30px;
    text-align: center;
    margin-top: 50px;
    width: 60%;
    font-weight: bold;
    border-bottom:solid 3px #4b6cb7;
}
.title2>h1{
	font-size: 30px;
    color: #F48FB1;
    text-align: center;
    margin-bottom:10px;
    background-color:#4b6cb7;
    color:#ffffff;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 50%;
    font-weight: bold;
}
#outbox1{
	padding: 1em 2em;
    margin:auto;
    max-width:500px;
    color: #565656;
    border: dashed 2px #4b6cb7;
    border-radius: 8px;
    height: auto;
}

.submit-btn-a{
	margin-top:20px;
    margin-bottom:20px;
    display: inline-block;
    border-radius: 5%;
    border:none;
    font-size: 15pt;
    text-align: center;
    cursor: pointer;
    padding: 15px 20%;
    background-color:#4b6cb7;
    color: #fff;
    line-height: 1em;
    transition: .3s;
    outline: 0;
}

.submit-btn-a:hover{
    background-color:#191970;
    letter-spacing:3px;
}

#inner-box{
	width:100%;
	margin-bottom:20px;
	text-align:center;
}

.box-a{
	border-collapse: separate !important;
    border-spacing: 0px 15px ;
}

.vertical-list-table tr{
	width:100%;
	word-wrap: break-word;
}

.vertical-list-table th{
    padding-top: 10px;
    border: none;
    width:40%;
    background-color:#FBFBEF;
    padding-bottom:15px;
}
.vertical-list-table td{
	padding-top: 10px;
	width:60%;
    border: none;
    background-color:#fafafa;
}

table.vertical-list-table{
	margin:auto;
    border-collapse: separate !important;
    border-spacing: 0px 15px ;
    width:70%;
}
